project_id = "achilio-dev"
mmvs = [
	{
		"dataset_name": "nyc_trips",
		"mmv_name": "mvm_2986072985",
		"statement": "SELECT vendor_id FROM achilio-dev.nyc_trips.tlc_yellow_trips_2015_small GROUP BY vendor_id",
	},
	{
		"dataset_name": "nyc_trips",
		"mmv_name": "mvm_2720750463",
		"statement": "SELECT payment_type, SUM(total_amount) as col1 FROM achilio-dev.nyc_trips.tlc_yellow_trips_2015_small GROUP BY payment_type",
	},
	{
		"dataset_name": "esteban_dataset",
		"mmv_name": "mvm_1234567890",
		"statement": "SELECT vendor_id FROM achilio-dev.esteban_dataset.tlc_yellow_trips_2015_small_2 GROUP BY vendor_id",
	}
]